In [ ]:
#task-1
a=[]
for i in range (5):
   n=input()
   a.append(n)
print(a)

3
5
-34
0
5
['3', '5', '-34', '0', '5']

In [ ]:
#task-2
n=[10, 20, 24, 25, 26]
for i in range(len(n)):

   if len(n)>4:
     a=n[2:len(n)-2]
   else:

     print("not possible")
print(a)

[24]

In [ ]:
#task-2
n=input()

a=""
for i in n:
  if i==" ":
    pass
  else:
    a=a+i
a = a + ","
new_a=[]
store=""
for i in a:
  if i !=",":
    store+=i
  else:
    new_a.append(int(store))
    store=""
print(new_a)
#for i in range (len(new_a)):  a.append()
if len(new_a)>=4:
  final=new_a[2:len(new_a)-2]
  print(final)
else:
  print("not possible")

10, 20, 24, 25, 26
[10, 20, 24, 25, 26]
[24]

In [ ]:
#task-3
a=[]
for i in range(5):
  n=input()
  a.append(n)
a1=a[::-1]
print(a1 )
for i in a1:
  #print("printing value of the reverse order:")
  print(i)

5
-5
100
1
0
['0', '1', '100', '-5', '5']
0
1
100
-5
5

In [ ]:
#task-4
n=[1, 2, 3, 4, 5, 6, 7]
a=[]
for i in n:
  b=i**2
  a.append(b)
print(a)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#task-5
a=["hey", "there", "", "what's", "", "up", "", "?"]
a1=[]
for i in a:
  if i =="":
    pass
  else:
    a1.append(i)
print(a1)

['hey', 'there', "what's", 'up', '?']

In [ ]:
#task-6
n=7, 13, 2, 10, 6, -11, 0
maxval=n[0]
for i in range(0,len(n)):
  if maxval<n[i]:
    maxval=n[i]
print(maxval)

13

In [ ]:
 #task-6
n=input()+","
a=[]
store=""
for i in n:
  if i !=",":
    store+=i
  else:
    a.append(int(store))
    store=""
max=a[0]
for i in range(0,len(a)):
  if max<a[i]:
    max=a[i]
print(max)
index=0
#for i in range a:
print(index)

7, 13, 2, 10, 6, -11, 0
13

In [ ]:
#task-7
l1=[1, 4, 7, 5]
l2=[6, 1, 3, 9]
a1=l1[0:3]
new_l=a1+l2
print(new_l)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
#task-8
a1= [1, 2, 3, 4, 5, 6, 7, 8, 9]
a2= [10, 11, 12, -13, -14, -15, -16]
new=a1+a2
print(new)
even=[]
for i in new:
  if (i%2==0):
    even.append(i)
print(even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, -13, -14, -15, -16]
[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#task-9
a=[]
n=input()+" "
store=""
for i in n:
  if i !=" ":
    store+=i

  else:
    a.append(int(store))
    store=""
print("original list",a)
odd=[]
for i in a:
  if (i%2!=0):
    odd.append(i)
print("modified list",odd)

In [ ]:
#task-10
n=input()
a=[]
store=""
for i in n:
  if i !=",":
    store+=i
  else:
    a.append(int(store))
    store=""

new_a=[]
new_n=""
for i in range(0,len(a)):
  flag=False
  for j in range(i+1,len(a)):
      if a[i]==a[j]:
        flag=True
        break
  if flag==False:
    new_a.append(a[i])



print(new_a)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
[0, 1, 2, 3, 5, 6, 7, 8, 9, 4]

In [ ]:
a_list=[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
a=[]
for i in a_list:
  if i not in a:
    a.append(i)
  else:
    pass
print(a)

In [ ]:
#task-10 - |_|
n=input()+","
a=[]
store=""
for i in n:
  if i!=",":
    store+=i
  else:
    a.append(int(store))
    store=""
new_a=[]
for i in a:
  if i not in new_a:
    new_a.append(i)
  else:
    pass
print(new_a)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#task-11
a1=[1, 4, 3, 2,6]
a2=[5, 6, 9, 8, 7]
flag=False
for i in a1:
  for j in a2:
    if i==j:
      flag=True
      break
print(flag)

True

In [ ]:
#task-16
n=[7, 13, 2, 10, 6, -11, 0]
new_n=[]
for i in n:
  if i not in new_n:
    new_n.append(i)
  else:
    pass
max=new_n[0]
for i in new_n:
  if max<i:
    max=i
print("1st max val:",max)
max2=new_n[0]
for i in new_n:
  if max2<i and i!=max:
    max2=i
print("2nd max val:",max2)
min=new_n[0]
for i in new_n:
  if min>i:
    min=i
print("min value:",min)
min2=new_n[0]
for i in new_n:
  if min2>i and i!=min:
    min2=i
print("2nd min val:",min2)

1st max val: 13
2nd max val: 10
min value: -11
2nd min val: 0

In [ ]:
#18
n1=[1,2,3,4]
n2=[3,4,5,6]
a=[]
for i in n1:
  for j in n2:
     if i==j:
     #  elif i!="," and i!=" ":
       a.append(str(i))
print(a)

['3', '4']

In [ ]:
#task-19
l_1= [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
l_2= [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
a=l_1+l_2
new_a=[]
for i in a:
  if i not in new_a:
      new_a.append(i)

print(new_a)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [ ]:
#fib of n and nth index value
n=int(input())
a1=0
a2=1

fib=[]
for i in range(0,n):
   a3=a1+a2
   a1=a2
   a2=a3
   fib.append(a3)
print("the",n,"th seris are",fib)
num=int(input())
for i in fib:
  if i==num:
    index=fib[i]
  else:
    ("invalid")
print("and",num,"th value is",index)

5
the 5 th seris are [1, 2, 3, 5, 8]
2
and 2 th value is 3

In [ ]:
##
l1=[10,20,5,-5,4]
l2=["hi","hello"]
l3=[True,False]
indx1=0
indx2=0
l=[]
while(True):
  if indx1>=len(l1) and indx2>=len(l3):
    break
  l+l2                   #appending a1 into l
  if indx2<len(l1):
    l.append(l1[indx1])     #two item from l1
    indx1+=1
  if indx2<len(l3):
    l.append(l3(indx2))
    indx2+=1
print(l)

TypeError: ignored

In [ ]:
#
a=['abc', 'xyz', 'aba', '1221']
# store=""
l=[]
# for i in a:
#   if i!=",":
#     store=store+i
#   else:
#     l.append(store)
#     store=""
count=0
for i in a:
  if len(a)>=2 and a[0]==a[-1]:
    count+=1
  else:
    pass
print(count," have same char in 1st and last")

0  have same char in 1st and last

In [ ]:
# first & last 5 square num of range 1-30
a=[]
for i in range(1,31):
  a.append(i)
b_list=[]
for i in a:
    b=i**2
    b_list.append(b)
print(b_list[:5],b_list[-5:])

[1, 4, 9, 16, 25] [676, 729, 784, 841, 900]

In [ ]:
#task14

myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while(index1<10):
  myList[index1] = index1+2
  index2 = 1
  while(index2<index1):
    myList[index1] = b[index1]+myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1

3
5
7
9
11
13
15
17
19

In [ ]:
print(-5//4)

-2