<a href="https://colab.research.google.com/github/Fl0rin09/CSE110/blob/main/dictionary%2Ctuple_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuple

400

In [ ]:
#task-1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7],  ("Best Fiction", "The Testaments", 98291))
a=a_tuple[3][3]
print(a)

400

In [ ]:
#task-2
n=input()+","
a_list=[]
store=""

for i in n:
  if i!=",":     #if i !="(" and i!=")":
    store+=i
  else:
    a_list.append((store))
    store=""
new_list= (a_list[2:-2])
final_list=[]
for i in new_list:
  final_list.append(int(i))

print(final_list)
new_tuple=tuple(final_list)
print(new_tuple)

(10, 20, 24, 25, 26, 35, 70)
[24, 25, 26]
(24, 25, 26)

In [ ]:
n=(10, 20, 24, 25, 26, 35, 70)

a=n[2:-2]
print(a)

(24, 25, 26)

In [ ]:
n=input()
n.split

In [ ]:
#task-3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
a=len(book_info)
print("Size of the tuple is:",a)
for i in book_info:
  print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#task-4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
a=list(book_info)
for i in a:
  category,name,vote=i
  print(f"{name} won the {category} category by {vote} votes")

The Silent Patient won the Best Mystery & Thriller category by 68821 votes
The Institute won the Best Horror category by 75717 votes
The five won the Best History & Biography category by 31783 votes
The Testaments won the Best Fiction category by 98291 votes

In [ ]:
#task-5
n= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
num=int(input())
counter=0
for i in n:
  if i ==num:
    counter+=1

print(num," appears",counter, "times in the tuple")

8
8  appears 4 times in the tuple

In [ ]:
#task-6
n= ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
new=""
a_list=[]
for i in n:
  new=i+new
for i in new:
  a_list.append(i)
print(a_list)
reverse_tuple=tuple(a_list)
print(reverse_tuple)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#6
n=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
a=[]
for i in range(len(n)-1,-1,-1):
  a.append(n[i])
print(a)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:

#task-7
a={'Harry':15, 'Draco':8, 'Nevil':19}
b={'Ginie':18, 'Luna': 14}
new={}
new.update(a)
new.update(b)
print(new)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#task-8
a={}
n=int(input())
sum=0
#count=0
for i in range(n):
   key=input()
   value=int(input())
   a[key]=value
   sum=sum+value
   #count+=1
av=sum//n
print("Average is ",av)
#for key,value in a.items()

2
flo
200
rid
400
Average is  300

In [ ]:
#task-9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
new={}
n=int(input())
for key,value in exam_marks.items():
  if n<value :
    new[key]=value
print(new)

170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#10
import math
n={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max=-math.inf
for i,j in n.items():
  if j>max:
    max=j
    max_k=i
print(max_k,max)

mystery 15

In [ ]:
#task-10
n={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max_k=""
max_v=0
for key,value in n.items():
    if max_v<value:
      max_k=key
      max_v=value
print("The highest selling book genre is",max_k,"and the number of books sold are",max_v)

The highest selling book genre is mystery and the number of books sold are 15

In [ ]:
n={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max_k=""
max=n['sci fi']
for i in n.keys():
  if max<n[i]:
    max=n[i]
    max_key=i
print(max_key,max)

mystery 15

In [ ]:
#task-11
n="Python programming is fun"
dict1={}
new=""
for i in n:
  if i!=" ":
    if  "A" <= i <= "Z":
      x=chr(ord(i)+32)
      new+=x
    else:
      new+=i
print(new)
for i in new:
  if i not in dict1:
    dict1[i]=1
  else:
    dict1[i]=dict1[i]+1

print(dict1)

pythonprogrammingisfun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#task-12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for key,value in dict_1.items():
   for i in dict_1[key]:
     count+=1
print(count)

9

In [ ]:
#task-13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
a=[]
b=[]
c=[]
for i in range(len(list_1)):
  if list_1[i][0]=="a":
    a.append(list_1[i][1])

  elif list_1[i][0]=="b":
    b.append(list_1[i][1])
  elif list_1[i][0]=="c":
    c.append(list_1[i][1])
dict1={"a":a,"b":b,"c":c}
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#13
list_1 = [ ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1={}
l2=[]
for i in list_1:
  l2.append(i[1])
  if i[0] not in dict1:
    dict1[i[0]]=[i[1]]
  else:
   dict1[i[0]].append(i[1])
print(l2)
print(dict1)

[2, 3, 1, 2, 1]
{'b': [2, 1], 'a': [3, 2], 'c': [1]}

In [ ]:
d = {"a": ["Hello", 2], "b": (1,2,3)}

d["a"].append(5)
print(d["b"][1])

2

In [ ]:
#task-15
n=[(2, 3), (4, 5), (6, 7), (2, 8)]
list1=[]
sum=0
for i in range(len(n)):
  x=n[i][0]
  y=n[i][1]
  sum=x*y
  list1.append(sum)
print(list1)

[6, 20, 42, 16]

In [ ]:
#15 [easy]
alist=[(2, 3), (4, 5), (6, 7), (2, 8)]
m=1
new=[]
for i in alist:
  for j in i:
    m=m*j
  new.append(m)
  m=1
print(new)

[6, 20, 42, 16]

In [ ]:
n=[(2, 3), (4, 5), (6, 7), (2, 8)]
for i in range(len(n)):
  x=n[i][0]
print(x)

2

In [ ]:
#task-16
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
n=input()                                    #tuple er vitor list thakle tar element change kora jabe
for i in range(len(a_tuple)):
   a_tuple[i][-1]=n
print(a_tuple)

abc
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

In [ ]:
#task-17
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}

new={}
for key, value in my_dictionary.items():
   if value != None:
        new[key]=value

print(new)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [ ]:
#Task-18
dict_1 = {'a': 6, 'b': 7, 'c': 9, 'd': 8, 'e': 11, 'f': 12, 'g': 13}

lower, upper = 9,12

result_dict = {}
for key, value in dict_1.items():
   if lower <= value < upper:
       result_dict[key]=value
print(result_dict)

{'c': 9, 'e': 11}

In [ ]:
#task-19
given_tuples = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]

adict = {}

# Group the tuples based on the second element
for i in given_tuples:
    elem_2 = i[1]
    if elem_2 in adict:
        adict[elem_2].append(i)
    else:
        adict[elem_2] = [i]

print(adict)

In [ ]:
#create a tuple
tuplex = 4, 8, 3
print(tuplex)
n1, n2, n3 = tuplex
#unpack a tuple in variables
print(n1 + n2 + n3)
#the number of variables must be equal to the number of items of the tuple
#n1, n2, n3, n4= tuplex

(4, 8, 3)
15

In [ ]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1)
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)
#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#converting the tuple to list
listx = list(tuplex)
#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

In [ ]:
#create a tuple
tuplex = ((2, "w"),(3, "r"))
print(dict((y, x) for x, y in tuplex))

{'w': 2, 'r': 3}