<a href="https://colab.research.google.com/github/Fl0rin09/CSE110/blob/main/function_%7B7%7D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


 #task-1
def even_checker(a):      #3rd
  if a%2==0:                #4th
    print("even!!")
  else:
    print("odd!!")
n=int(input())           #1st
even_checker(n)           #2nd

5
odd!!

In [ ]:
#nth fibonacci
def fib(x):
  a1=0
  a2=1
  for i in range(n):
      a3=a1+a2
      a1=a2
      a2=a3
      print(a3,end=" ")
n=int(input())
fib(n)

10
1 2 3 5 8 13 21 34 55 89

In [ ]:
#task-2
def fib(num):
  a1=0
  a2=1
  a3=0
  print(a1,a2,end=" ")

  while a3<num:
       a3=a1+a2
       print(a3,end=" ")
       a1=a2
       a2=a3
num=int(input())
fib(num)

6
0 1 1 2 3 5 8

In [ ]:
def fib(num):
  a1=0
  a2=1
  a3=0
  print(a1,a2,end=" ")
  while a3<num:
    a3=a1+a2
    a1=a2
    a2=a3
    if a3<num:
      print(a3,end=" ")
num=int(input())
fib(num)

10
0 1 1 2 3 5 8

In [ ]:
#task-3
def foo_moo(num):
  if num%2==0 and num%3==0:
    return  "FooMoo"
  if num%2==0:
    return "Foo"
  elif num%3==0:
    return  "Moo"
  else:
    return "Boo"
num=int(input())
print(foo_moo(num))

5
Boo

In [ ]:
#task-4
def function_name(n):
  upper=0
  lower=0
  for i in n:
    if "A" <= i <="Z":
      upper+=1
    elif "a"<= i <= "z":
      lower+=1
  print("uppercase:",upper,"lowercase",lower)
n=input()
function_name(n)

The quick Sand Man
uppercase: 3 lowercase 12

In [ ]:
#task-5
def calculate_tax(age,salary,designation):
  if age<=18:
    return "0"
  elif designation=="president":
    return "0"
  elif salary<10000:
    return "0"
  elif 10000<= salary <=20000:
    tax=salary*(5/100)
    return tax
  elif salary>20000:
    tax=salary*(10/100)
    return tax

age=int(input())
salary=int(input())
designation=input()
print(calculate_tax(age,salary,designation))

22
22000
worker
2200.0

rakibv valoi

In [ ]:
#task-6
def num_days(n):
  y=n//365
  d=n%365
  m=d//30
  day=d%30
  print("year:",y," month:",m," day:",day)
num_days(int(input()))

4330
year: 11  month: 10  day: 15

In [ ]:
#task7-8
def show_palindrome(n):
  for i in range(1,n+1):     #increase
    print(i,end=" ")
  for i in range(n-1,0,-1):    #decrease
    print(i,end=" ")

n=int(input())
show_palindrome(n)

10
1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1

In [ ]:
# def show_palindrome(n):
#   for i in range(1,n+1):
#     print(i,end=" ")                                   @from task 7
#   for j in range(n-1,0,-1):
#     print(j,end=" ")
def show_palindromic_triangle(n):
  for i in range(1,n+1):    #row
    for j in range(n-i):     #space
      print("  " ,end="")
    show_palindrome(i)
    print()
show_palindromic_triangle(5)

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
def show_palindromic_triangle(n):
    for i in range(1,n+1):
      for j in range(n-i):
        print(" ",end="")
      x=show_palindrome(n)
      for i in (x):
        # for j in range(i+1,n-i):
          print(i,end=" ")
      print()
n=int(input())
show_palindromic_triangle(n)

5
    123454321

TypeError: ignored

In [ ]:
def show_palindrome(n):
  a=1
  for i in range(n):
    a=1
    for j in range(i+1):
      print(a,end="")
      a+=1
    print()

n=int(input())
show_palindrome(n)

5
1
12
123
1234
12345

In [ ]:

n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

5
1
12
123
1234
12345

In [ ]:

n=int(input())
for i in range(1,n+1):
  for j in range(n-i):
     print(" ",end="")
  for j in range(1,i+1):
    print(j,end="")
  for j in range(i-1,0, -1):
    print(j,end="")
  print()

5
    1
   121
  12321
 1234321
123454321

In [ ]:
n=int(input())

for i in range(1,n):
  p=1
  for j in range(i):
    print(p,end="")
    p+=1
  for j in range(i+1):
    print(p,end="")
    p-=1
  print()

5
121
12321
1234321
123454321

In [ ]:
#task-9
import math
def area_circumference_generator(r):
  area=math.pi*(r**2)
  circumference=2*math.pi*r

  atuple=(area,circumference)
  print(atuple)
  # for i in atuple:
  #area,circumference=atuple
  a,c=atuple
  print(f"Area of the circle is {a}  and circumference is {c}")
r=float(input())
area_circumference_generator(r)

1
(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793  and circumference is 6.283185307179586

In [ ]:
#10
atuple=((1,3))
adict={}
for i in atuple:
   adict[i]=i**2
print(adict)

{1: 1, 3: 9}

In [ ]:
def make_square(x,y):

  adict={}
  for i in range(x,y+1):
    adict[i]=i**2
  return adict
print(make_square(1,3))

{1: 1, 2: 4, 3: 9}

In [ ]:
#task10
def make_square(x,y):

  adict={}
  a=[]
  for i in (x,y):
    a.append(int(i))
   #adict[i]=i**2
  for i in range(a[0],a[1]+1):
    adict[i]=i**2
  return adict
print(make_square(1,3))

{1: 1, 2: 4, 3: 9}

In [ ]:
#task-10
def make_square(atuple):

  adict={}
  a=[]
  for i in atuple:
    a.append(int(i))
  for i in range(a[0],a[1]+1):                                                                                                                  #
    adict[i]=i**2

atuple=((1,3))
print(make_square(atuple))

None

In [ ]:
#task-11
def rem_duplicate(atuple):

  alist=list(atuple)
  print(alist)
  a=[]
  for i in alist:
    if i not in a:
      a.append(i)
    else:
      pass
    final=tuple(a)
  return final
#atuple=((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))
print(rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0)))

[1, 1, 1, 2, 3, 4, 5, 6, 6, 6, 6, 4, 0, 0, 0]
(1, 2, 3, 4, 5, 6, 0)

In [ ]:
#task-12
def function_name(n):
  new_list=[]
  for i in n:
    if new_list.count(i)<2:
      new_list.append(i)
  return new_list
print(function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#tash-13
def function_name(n,n1,n2):

  if n=="+":
    a=n1+n2
  elif n=="-":
     a=n1-n2
  elif n=="*":
     a=n1*n2
  elif n=="/":
      a=n1/n2
  return a
n=input()
n1=float(input())
n2=float(input())
print(function_name(n,n1,n2))

*
2
3
6.0

In [ ]:
#task-14
def function_name(a,n):
  new_string=""
  rmv_char=""
  for i in range(1,len(a)):
    if i%n==0:
      rmv_char+=a[i]
    else:
      new_string+=a[i]
  new=new_string+rmv_char
  return new

sentence=input()
position=int(input())
print(function_name(sentence,position))

I love programming
3
 lveprgrmmngo oai

In [ ]:
#task-15
def function_name(user,location="Dhanmondi"):
  item_price={'Rice': 105,'Potato': 20,'Chicken': 250,'Beef': 510,'Oil': 85}
  total=0
  a_list=user[2:len(user)-2].split('","')
  # for i in user:
  #   a.append(i)
  for i in a_list:
    total=total+item_price[i]
    if location=="Dhanmondi":
      total+=30
    else:
      total+=70
  return total


user=input("enter you items list: ")

print(function_name(user,location))

enter you items list: Rice

NameError: ignored

In [ ]:
def function_name(user,location="dhanmondi"):

  dict_price={'Rice': 105,'Potato': 20,'Chicken': 250,'Beef': 510,'Oil': 85}
  a_list=[]
  string=""
  store=""
  for i in user:
    if i!="[" and i!="]" and i!='"':
        string+=i
  string+=","

  for i in string:
    if i!=",":
       store+=i
    else:
      a_list.append(store)
      store=""

  #a_list=user[2:len(user)-2].split(',')
  print(a_list)
  total=0
  for i in dict_price.keys():
    for j in a_list:
      if i==j:
        total=total+dict_price[i]
  if location=="dhanmondi":
     return total+30
  else:
     return total+70
user=input()
loc=input()
print(function_name(user,loc))

Rice Beef
Mohhakha
['Rice Beef']
70

In [ ]:
k=dict1[i]+j-(8.18-k%8.4)*4
        dict1[i]=dict1[i]-int(k)

1234
500 taka: 2 notes
100 taka: 2 notes
20 taka: 1 notes
10 taka: 1 notes
2 taka: 2 notes

In [ ]:
#task-16
def splitting_money(n):
  note_500=n//500
  rem_500=n%500
  note_100=rem_500//100
  rem_100=a%100
  note_50=rem_100//50
  rem_50=rem_100%50
  note_20=rem_50//20
  rem_20=rem_20%20
  note_10=rem_20//10
  rem_10=rem_20%10
  note_5=rem_10//5
  rem_5=rem_10%5
  note_2=rem_5//2
  rem_2=rem_5%2
  note_1=rem_2//1

  dict_a={500:note_500,100:note_100,50:note_50,20:note_20,10:ten,5:fivetk,2:tk_2,1:tk_1}
  #note=""
  for i,j in dict_a.items():
    if j>0:
      print(i,"taka:",j,"notes")
n=int(input())
splitting_money(n)

1234
500 taka: 2 notes
100 taka: 2 notes
20 taka: 1 notes
10 taka: 1 notes
2 taka: 2 notes

In [ ]:
#task-17
def remove_odd(n):
  a=[]
  for i in n:
    if i%2==0:
      a.append(i)
  return a

print(remove_odd([21, 33, 44, 66, 11, 1, 88, 45, 10, 9]))

In [ ]:
#task-18
def calculate_sum(start,end,div1,div2):
  sum=0
  for i in range(start,end):
    if i%div1==0 and i%div2==0:
      pass
    elif i%div1==0 or i%div2==0:
      sum+=i
  return sum

start=int(input())
end=int(input())
div1=int(input())
div2=int(input())
print(calculate_sum(start,end,div1,div2))

In [ ]:
#task-19
def function_name(n):
  n=n.lower()
  string="abcdefghij"
  new=""

  for i in n:
    if i in string:
      if i not in new:
        new+=i
  if len(new)==len(string):                             #
    for i in range(0,5):
      print("PSG will win the Champions League this season")
  else:
    for i in range(0,6):
      print("PSG will win the Champions League this season")


function_name("A black jackal is hunting a full grown deer")

In [ ]:
#task-20

In [ ]:
def max_of_two( x, y ):
    if x > y:
        return x
    return ,
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(3, 6, -5))

6